apiVersion: v1
kind: Pod
metadata:
  name: nginx-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: nginx
    image: nginx:mainline
    volumeMounts:
    - name: nginx-conf
      mountPath: /etc/nginx/nginx.conf
      readOnly: true
      mountPropagation: HostToContainer
  volumes:
  - name: nginx-conf
    hostPath:
      path: /etc/kubernetes/nginx.conf
