---
- name: Add docker-ce repository
  shell: yum-config-manager --add-repo https://mirrors.aliyun.com/docker-ce/linux/centos/docker-ce.repo

- name: Install containerd
  yum:
    name: containerd.io-{{ containerd_version }}
    state: present

- name: Create containerd config directory
  file:
    path: /etc/containerd
    state: directory
    mode: '0755'

- name: Generate default containerd config
  shell: containerd config default > /etc/containerd/config.toml

- name: Configure containerd for Kubernetes
  lineinfile:
    path: /etc/containerd/config.toml
    regexp: '^\s*sandbox_image = ".*"'
    line: '    sandbox_image = "registry.aliyuncs.com/google_containers/pause:3.9"'

- name: Set containerd cgroup driver to systemd
  lineinfile:
    path: /etc/containerd/config.toml
    regexp: '^\s*SystemdCgroup = false'
    line: '      SystemdCgroup = true'

- name: Enable and restart containerd service
  systemd:
    name: containerd
    state: restarted  # 修改为 restarted 确保每次都会重启
    enabled: yes
    daemon_reload: yes
